# Игнорируем песочницы Python
.venv/
venv/
ENV/

# Игнорируем кэш компиляции Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем скрытые настройки VS Code
.vscode/

# Игнорируем скачанные пакеты установки
*.deb

